/*** =================== About-Banner =================== ***/

.about-banner_section {
  background-color: $dark-bg;
  position: relative;
  padding: 120px 0;
}

.about-banner__title--wrapper {
  margin-top: 80px;
}

.about-banner__title {
  text-align: center;
  font-size: 52px;
  margin: 0;
}
